/* TODO */
/*@import 'tailwindcss/base';*/
/*@import 'tailwindcss/components';*/
/*@import 'tailwindcss/utilities';*/
@import "bootstrap";
/*@import "styles.css";*/
/*@import "styles.css";*/
@import "styles0.css";

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    color: initial;
}

.navbar-brand {
    font-family: 'Reggae One', cursive;
    font-size: 2.5rem;
    font-weight: bold;
}
